<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">
      <a href="{{site.baseurl}}/">{{ site.title }} </a>
    </h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col" style="font-weight: 600;">
        <a href="{{site.baseurl}}/about/">About Me</a>
      </div>
    </div>

  </div>

</footer>
