{{!

    Renders:
      Theme Credits

}}

<div class="nav header-item header-credit">
  <a href="http://themeforest.net/item/eston-a-simple-notebook-theme/9497657?ref=mikedidthis" target="_blank" class="nav-item nav-item-alt">Eston by mikedidthis</a>
</div>

