.container {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.logoContainer {
  display: inline-block;
  position: relative;
  margin-right: 2rem;
}

.logo {
  margin: 0;
  font-size: 64px;
  color: hsla(0, 0, 0, 0.8);
}

.name {
  position: absolute;
  font-size: 1rem;
  right: 4px;
  bottom: -6px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}
