.container {
  width: 600px;
  display: flex;
  align-items: baseline;

  @media (max-width: 768px) {
    flex-direction: column;
    width: auto;
    align-items: flex-end;
  }
}

.logoContainer {
  display: inline-block;
  position: relative;
  margin-right: 2rem;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

.logo {
  margin: 0;
  font-size: 64px;
  color: hsla(0, 0, 0, 0.8);
}

.name {
  position: absolute;
  font-size: 1rem;
  right: 2px;
  bottom: -6px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 25vh;
    align-items: flex-end;
  }
}
